{% extends "base.html" %}

{% block title %}
    {{ block.super }} - About me
{% endblock %}

{% block content %}
    <main role="main" class="pl-3">
        <h1 class="pt-4 pb-5">About me</h1>
        <p class="mx-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis cum eligendi nobis numquam
            odio omnis perferendis ratione sapiente voluptate? Cum dolores error illo neque non officiis optio quidem
            similique unde? Ad culpa deserunt distinctio doloribus ducimus eligendi eos fuga fugiat fugit illum in ipsam
            iste, maiores modi numquam pariatur perspiciatis possimus quam quidem quos sapiente tempore voluptas,
            voluptates! A nisi pariatur quisquam sit.
        </p>
    </main>
{% endblock %}
