{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Events
{% endblock %}

{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <p class="lead text-muted">Hey there! I'm excited to see you here! You can write me right now!</p>
                <p>
                    <a href="mailto:test@mail.com" class="btn btn-primary my-2">Mail me</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {% for event in events %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ event.event_image.url }}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-text">{{ event.event_text }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Sorry. Events not finding :(</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}

