{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Blog
{% endblock %}

{% block content %}
    <main role="main" class="pl-3">
        <h1 class="pt-4 pb-5">Recent posts</h1>
    {% for post in posts %}
    <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
        <br>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" height="300" width="300" class="img-fluid" />
        <br>
        <p>{{ post.text | truncatewords:20 }}</p>
        Published: {{ post.date | timesince}} ago
        <br>
        <br>
        {% empty %}
        <p>Sorry. Posts not finding :(</p>
    {% endfor %}
    </main>
{% endblock %}
