{% extends "base.html" %}

{% block title %}
    {{ block.super }} - {{ post.title }}
{% endblock %}

{% block content %}
    <main role="main" class="pl-3">

    <h2>{{ post.title }}</h2>
        {{ post.date }}
        <br>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" height="500" width="500" class="img-fluid" />
        <br>
        <br>
        <p>{{ post.text}}</p>
    </main>
{% endblock %}
